{% extends 'admin/base.html.twig' %}

{% block title %}Error{% endblock %}

{% block stylesheets %}
    {% embed 'admin/_partials/_block_stylesheets.html.twig' %}
        {% block page_level_styles %}
            <link href="{{ asset('admin/assets/pages/css/error.min.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <body class="page-500-full-page">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number font-red"> 500</div>
            <div class=" details">
                <h3>Oops! Algo aconteceu de errado.</h3>
                <p> Iremos corrigir isso! Volte mais tarde.
                    <br/>
                </p>

            </div>
        </div>
    </div>
    </body>

    {% block javascripts %}{% endblock %}

{% endblock %}
