<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}RC Informática{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lte IE 8]>
    <script src="{{ asset('site/assets/js/ie/html5shiv.js') }}"></script>
    <![endif]-->

    {% block stylesheets %}
        {% embed 'site/_partials/_block_stylesheets.html.twig' %}{% endembed %}
    {% endblock %}
</head>

{% block body %}

    <body class="{% block body_class %}homepage{% endblock %}" id="top">

    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="{{ path('site_homepage') }}">RC INFORMÁTICA</a></h1>
                </div>

                <!-- Nav -->
                {% include('site/_partials/_navbar.html.twig') %}

                {% if app.request.attributes.get('_route') == 'site_homepage' %}
                    <!-- Banner -->
                    {% include('site/_partials/_banner.html.twig') %}
                {% endif %}

            </div>
        </div>

        {% if app.request.attributes.get('_route') == 'site_homepage' %}
        <!-- Featured -->
        <div id="featured">
            <div class="container">
                {% block featured_container %}{% endblock %}
            </div>
        </div>
        {% endif %}

        <!-- Main -->
        <div id="main">
            <div class="container">
                {% block main_container %}{% endblock %}
                {% include('site/_partials/_footer.html.twig') %}
            </div>
        </div>

        {% include('site/_partials/_copyright.html.twig') %}

    </div>

    <!-- Scripts -->
    {% block javascripts %}
        {% embed 'site/_partials/_block_javascripts.html.twig' %}{% endembed %}
    {% endblock %}

    </body>

{% endblock %}

</html>