{% if form is defined %}
{% form_theme form 'site/_form/_fields.html.twig' %}
{% endif %}

<!DOCTYPE HTML>
<!--[if IE 7 ]>
<html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>
<html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>
<html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
    <title>{% block title %}RC Informática{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block stylesheets %}
        {% embed 'site/_partials/_block_stylesheets.html.twig' %}{% endembed %}
    {% endblock %}
</head>

{% block body %}

    <body>

    <div class="site_wrapper">

        <!-- Header -->
        {% include('site/_partials/_header.html.twig') %}

        <div class="clearfix"></div>

        {% block main_container %}{% endblock %}

        {% include('site/_partials/_footer.html.twig') %}

    </div>

    <!-- Scripts -->
    {% block javascripts %}
        {% embed 'site/_partials/_block_javascripts.html.twig' %}{% endembed %}
    {% endblock %}

    </body>

{% endblock %}

</html>