{% extends 'site/base.html.twig' %}

{% block main_container %}
    <div class="row">
        <div id="content" class="12u">
            <header>
                <h2>Sobre</h2>
            </header>
        </div>
    </div>
{% endblock %}