<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Admin RC Info{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        {% embed 'admin/_partials/_block_stylesheets.html.twig' %}{% endembed %}
    {% endblock %}
</head>

{% block body %}
    <body class="page-sidebar-closed-hide-logo page-container-bg-solid page-header-fixed _page-sidebar-fixed">

    {% include('admin/_partials/_navbar.html.twig') %}

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        {% include('admin/_partials/_sidebar.html.twig') %}
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            {% block page_header %}{% endblock %}
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                {% block page_content %}{% endblock %}
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->

    {% block footer %}
        {% embed 'admin/_partials/_footer.html.twig' %}{% endembed %}
    {% endblock %}

    {% block javascripts %}
        {% embed 'admin/_partials/_block_javascripts.html.twig' %}{% endembed %}
    {% endblock %}

    </body>
{% endblock %}

</html>