{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block page_content %}

    {% include '_partials/_flash_messages.html.twig' %}

    <h3>Admin Dashboard</h3>

    <ul>
        <li>
            <a href="{{ path('admin_impersonate_user', {username: 'julianna_dalma@hotmail.com'}) }}">Impersonate to
                Customer 1
            </a>
        </li>
        <li>
            <a href="{{ path('admin_impersonate_user', {username: 'eliana.santos@hotmail.com'}) }}">Impersonate to
                Customer 2
            </a>
        </li>
    </ul>
{% endblock %}