{% extends 'site/base.html.twig' %}

{% block main_container %}

    <div class="page_title3">
        <div class="container">
            <div class="title"><h1>PRODUTOS</h1></div>
        </div>
    </div><!-- end page title -->

{% endblock %}