{% extends 'site/base.html.twig' %}

{% block main_container %}
    <div class="page_title2">
        <div class="container">
            <div class="title"><h1>DOWNLOADS</h1><br></div>
        </div>
    </div><!-- end page title -->
{% endblock %}