<!-- left sidebar starts -->
<div class="left_sidebar">

    <div class="sidebar_widget">

        <ul class="arrows_list1">
            <li>
                <a href="{{ path('site_portal_faturas') }}">
                    <i class="fa fa-angle-right"></i> Minhas Faturas
                </a>
            </li>
            <li>
                <a href="{{ path('site_portal_downloads') }}">
                    <i class="fa fa-angle-right"></i> Downloads
                </a>
            </li>
            <li>
                <a href="{{ path('site_change_password') }}">
                    <i class="fa fa-angle-right"></i> Alterar Senha
                </a>
            </li>
            <li>
                <a href="{{ path('site_logout') }}">
                    <i class="fa fa-angle-right"></i> Sair
                </a>
            </li>
        </ul>

    </div><!-- end section -->

</div><!-- end left sidebar -->