<div class="actions">
    <div class="btn-group dropdown-dark">
        {% block buttons %}{% endblock %}
        <ul class="dropdown-menu pull-right" role="menu">
            {% block li_actions %}{% endblock %}
        </ul>
    </div>
</div>