<div class="row">

    <div class="col-md-12">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption">
                    {% block icon_list %}
                        <i class="icon-list font-green-sharp"></i>
                    {% endblock %}
                    <span class="caption-subject font-green-sharp bold uppercase">
                        {% block caption_subject %}{% endblock %}
                    </span>
                </div>
                <div class="actions btn-set">
                    {% block actions %}{% endblock %}
                </div>
            </div>

            <form class="form-inline" method="get" action="">

                <div class="portlet-body">

                    {% block filters %}{% endblock %}

                    <div class="clearfix"></div>

                    {#<br>#}
                    <hr>

                    {{ include('_partials/_flash_messages.html.twig') }}

                    <div class="_table-responsive">
                        <table class="table table-striped _table-bordered table-hover">
                            <thead>
                            {% block table_tr_th %}{% endblock %}
                            </thead>
                            <tbody>
                            {% block table_tr_td %}{% endblock %}
                            </tbody>
                            {% block table_tfoot %}{% endblock %}
                        </table>

                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div style="padding-top: 0.755em">
                                {% block list_info %}{% endblock %}
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div style="text-align: right">
                                {% block list_pagination %}{% endblock %}
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="modalConfirmation" tabindex="-1" role="basic"
                         aria-labelledby="modalConfirmationLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="modalConfirmationLabel">Confirmação</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>Deseja confirmar a exclusão?</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn red btn-outline" data-dismiss="modal">
                                        <i class="fa fa-remove"></i> Cancelar
                                    </button>
                                    <button type="button" class="btn green btn-outline delete-resource-form">
                                        <i class="fa fa-check"></i> Confirmar Exclusão
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->

                </div>

            </form>
        </div>
    </div>
</div>