<div class="row">

    <div class="col-md-12">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption">
                    {% block icon_list %}
                        <i class="icon-list font-green-sharp"></i>
                    {% endblock %}
                    <span class="caption-subject font-green-sharp bold uppercase">
                        {% block caption_subject %}{% endblock %}
                    </span>
                </div>
                <div class="actions btn-set">
                    {% block actions %}{% endblock %}
                </div>
            </div>

            <form class="form-inline" method="get" action="#">

                <div class="portlet-body">
                    {% block filters %}{% endblock %}

                    <div class="clearfix"></div>

                    <br>

                    {{ include('_partials/_flash_messages.html.twig') }}

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            {% block table_tr_th %}{% endblock %}
                            </thead>
                            <tbody>
                            {% block table_tr_td %}{% endblock %}
                            </tbody>
                        </table>

                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div style="padding-top: 0.755em">
                                {% block list_info %}{% endblock %}
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div style="text-align: right">
                                {% block list_pagination %}{% endblock %}
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>