@media (min-width: 768px) {
    .form-inline .control-label, .form-inline .form-group {
        margin-bottom: 10px;
    }
}

.page-header.navbar.navbar-fixed-top {
    z-index: 995 !important;
}

.table-responsive .portlet {
    margin-bottom: 5px;
}

/* CUSTOM PAGINATION */

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #2ab4c0;
    border-color: #2ab4c0;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #2ab4c0;
}

.pagination > li > a, .pagination > li > span {
    color: #2ab4c0;
}

/* END CUSTOM PAGINATION */

/* CUSTOM DROPDOWN TABLE LIST OPTIONS */

.actions > .btn-group.dropdown-custom .dropdown-menu {
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
}

.actions > .btn-group.dropdown-custom .dropdown-menu > li a:hover {
    background: #f1f1f1;
}

.actions > .btn-group.dropdown-custom .dropdown-menu > li a {
    color: #000;
}

.actions .btn-group.dropdown-custom > .dropdown-menu > li > a i {
    width: 15px;
    display: inline-block;
    margin-right: 9px;
}

.actions > .btn-group.dropdown-custom .dropdown-menu > li a > i {
    color: #000 !important;
}

/* END CUSTOM DROPDOWN TABLE LIST OPTIONS */

/* LOGIN FORM */

.login .login-form .content .form-actions {
    padding: 0px 30px 25px 30px !important;
}

.login .content .login-form .rememberme {
    margin-left: 0 !important;
    margin-top: 15px;
    margin-bottom: 0 !important;
}

.login .content .forget-form {
    display: inherit !important;
}

/* END LOGIN FORM */

/* LOGO */
.page-header.navbar .page-logo .logo-default {
    margin: 24px 0 0;
    color: #fff;
}

.page-header.navbar .page-logo a:hover {
    text-decoration: none;
}

/* END LOGO */

.table .btn {
    margin-right: 0 !important;
}

/* REQUIRED LABEL */
.control-label .required, .form-group .required {
    color: #000;
    font-size: inherit;
    padding-left: 2px;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}

/* END REQUIRED LABEL */

