.page-header.navbar.navbar-fixed-top {
    z-index: 995 !important;
}

.table-responsive .portlet {
    margin-bottom: 5px;
}

/* CUSTOM PAGINATION */

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #2ab4c0;
    border-color: #2ab4c0;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #2ab4c0;
}

.pagination > li > a, .pagination > li > span {
    color: #2ab4c0;
}

/* END CUSTOM PAGINATION */

/* CUSTOM DROPDOWN TABLE LIST OPTIONS */

.actions>.btn-group.dropdown-dark .dropdown-menu {
    background: #374b6d;
    border: 0;
    color: #fff;
}

.actions>.btn-group.dropdown-dark .dropdown-menu >li a:hover{
    background: #3e557a;
}

.actions>.btn-group.dropdown-dark .dropdown-menu >li a{
    color: #b8c6db;
}

.actions .btn-group.dropdown-dark > .dropdown-menu > li > a i {
    width: 15px;
    display: inline-block;
    margin-right: 9px;
}

.actions>.btn-group.dropdown-dark .dropdown-menu >li a>i {
    color: #97aaca !important;
}

/* END CUSTOM DROPDOWN TABLE LIST OPTIONS */

/* LOGIN FORM */

.login .login-form .content .form-actions {
    padding: 0px 30px 25px 30px !important;
}

.login .content .login-form .rememberme {
    margin-left: 0 !important;
    margin-top: 15px;
    margin-bottom: 0 !important;
}

.login .content .forget-form {
    display: inherit !important;
}

/* END LOGIN FORM */

/* LOGO */
.page-header.navbar .page-logo .logo-default {
    margin: 24px 0 0;
    color: #fff;
}

.page-header.navbar .page-logo a:hover {
    text-decoration: none;
}

/* END LOGO */

.table .btn {
    margin-right: 0 !important;
}